﻿<%@ Page Title = 'Report - Dump Truck' Language="C#" AutoEventWireup="true" CodeFile="RptContainerDumpTruck.aspx.cs" Inherits="reports_Sales_RptContainerDumpTruck" %>

<%@ Register assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" namespace="CrystalDecisions.Web" tagprefix="CR" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" 
            AutoDataBind="true" PrintMode="ActiveX" ReportSourceID="CrystalReportSource1" HasToggleGroupTreeButton="false" 
            ToolPanelView="None" EnableParameterPrompt="False" />
    </div>
        <CR:CrystalReportSource ID="CrystalReportSource1" runat="server">
            <Report FileName ="RptContainerDumpTruck.rpt"></Report>
        </CR:CrystalReportSource>
    </form>
</body>
</html>
