﻿<%@ Page Title="Report - Freight Price" Language="C#" AutoEventWireup="true" CodeFile="RptContainerFreightPrice.aspx.cs" Inherits="reports_Sales_RptContainerFreightPrice" %>

<%@ Register assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" namespace="CrystalDecisions.Web" tagprefix="CR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" 
            AutoDataBind="true" PrintMode="ActiveX" 
            ReportSourceID="CrystalReportSource1" HasToggleGroupTreeButton="false" 
            ToolPanelView="None" EnableParameterPrompt="False" />
        <CR:CrystalReportSource ID="CrystalReportSource1" runat="server">
            <Report FileName ="FreightPrice.rpt"></Report>
        </CR:CrystalReportSource>
    </div>
    </form>
</body>
</html>
