@import "../../node_modules/bourbon/core/bourbon";
@import "./base";
@import "./modal";

.ez-tabs {
  @include clearfix;
  padding: 0;

  .tab-item {
    list-style: none;

    @media (min-width: $large-screen) {
      display: inline;
    }
  }

  .tab-link {
    display: block;
    padding-right: 1em;

    @media (min-width: $large-screen) {
      display: inline-block;
    }
  }

  .is-active {
    background-color: #ff0000;
  }

  .tab-content {
    width: 100%;

    @media (min-width: $large-screen) {
      float: left;
    }
  }
}

.ez-user-admin {
  .permission-input {
    width: 100%;

    .form-name {
      display: inline-block;
      margin-left: 2em;
      width: 16em;
    }

    label {
      display: inline-block;
      width: 8em;
    }

    .check-button {
      background-color: purple;
      font-size: 0.8em;
    }
  }
}

header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 15em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @media (min-width: $horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @media (min-width: $horizontal-bar-mode) {
      float: left;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @media (min-width: $horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @media (min-width: $horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      @media (min-width: $horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @media (min-width: $horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a::after {
      @include position(absolute, auto -0.4em auto auto);
      color: $navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @media (min-width: $horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @media (min-width: $horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @media (min-width: $horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu.fly-out-right {
      @media (min-width: $horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    .submenu.fly-out-left {
      @media (min-width: $horizontal-bar-mode) {
        left: -$navigation-submenu-width + 0.2em;
        top: 0;
      }
    }

    .submenu {
      @media (min-width: $horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @media (min-width: $horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        @media (min-width: $horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: $navigation-height;

    @media (min-width: $horizontal-bar-mode) {
      background: transparent;
      clear: none;
      float: right;
    }
  }

  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;

    form {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        border-radius: $base-border-radius * 2;
        box-sizing: border-box;
        color: $navigation-color;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        @media (min-width: $horizontal-bar-mode) {
          width: 100%;
        }
      }

      button[type=submit] {
        background: $navigation-search-background;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    @media (min-width: $horizontal-bar-mode) {
      display: inline-block;
      position: relative;
      width: 16em;

      input {
        box-sizing: border-box;
        display: block;
      }
    }
  }
}


.ez-nav {
  height: 32px;
  background-color: #222;
  color: #ccc;
}

.ez-loading-bar {
  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $progress-border-color: $base-border-color;
  $progress-border: 1px solid $progress-border-color;
  $progress-meter-border-color: $action-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;
  $progress-height: 30px;

  background-color: $progress-background;
  border: $progress-border;
  border-radius: $base-border-radius;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  height: $progress-height;
  margin: 0 auto;
  padding: 2px;
  width: 100%;
  
  p {
    text-align: center;
    font-weight: bold;
    color: white;
  }

  > span.meter {
    animation: progress $progress-animation-duration linear infinite;
    background-color: $progress-meter-color;
    background-image: linear-gradient(
                        -45deg, rgba(#fff, 0.15) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(#fff, 0.15) 50%,
                        rgba(#fff, 0.15) 75%,
                        transparent 75%
                      );
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border: $progress-meter-border;
    border-radius: $base-border-radius / 1.5;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 60%;
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

.ez-activity {
  .ez-number-input {
    text-align: right;
  }

  .radio-option {
    padding-right: 1em;
    display: inline-block;
  }
  
  .action-button {
    padding: $base-padding / 2;    
  }
  
  .inline-control {
    width: 100%;
    
    label {
      float: right;
    }
    
    .input-group {
      display: inline-block;
    }
    
    .with-list {
      #{$all-text-inputs}, select, select[multiple] {
        display: block;        
      }
    }
  }
}

.login-box {
  .header {
    display: block;
    width: 100%;
    background-color: black;    
    padding: $base-padding / 8;
    
    span {
      display: inline-block;
      position: absolute;
      font-size: 2em;
      left: 2em;
      color: white;
    }
  }
  
  .body {
    @include clearfix;
    
    display: block;
    width: 100%;
    padding: $base-padding / 2;

    .error {
      color: white;
      font-weight: bold;
      background: #c00;
      border: 2px solid #900;
    }
    
    label {
      padding-bottom: $base-padding / 2;
    }
        
    button {
      padding: $base-padding / 2;
      float: right;
    }
  }
  
  .footer {
    background-color: black;
  }
  
  @media (min-width: $large-screen) {
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-240px;
    margin-top:-172px;
    background-color:white;
    width:480px;
    padding-bottom: 0;
    border:4px solid black;
  }
}

.detail-control {  
  .grid-container {
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  
  .detail-label {
    font-size: 1.5em;
  }
  
  table thead tr {
    background-color: $light-gray;
    border: 1px inset $medium-gray;
    
    th {
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 4px;
      padding-right: 4px;
      border: 1px solid $medium-gray;
      resize: horizontal;
    }
  }
  
  table tbody tr:hover {
    background-color: $light-gray;
  }
  
  table tbody tr td {
    padding: 0;
    margin: 0;
    border: 1px solid $medium-gray;
    
    input[type=checkbox] {
      transform: scale(2);
      width: 2em;
    }
  }
  
  .select-box {
    width: 2em;
  }
  
  input {
    background-color: transparent;
    margin: 0;
    border: 0;
  }
  
  #{$all-text-inputs}, select, select[multiple] {
    &:hover {
      border: 0;
    }
  }
}

.ez-master-grid, .ez-list-grid { 
  .headerSortDown:after,
  .headerSortUp:after{
    content: ' ';
    position: relative;
    left: 2px;
    border: 8px solid transparent;
  }
  .headerSortDown:after{
    top: 10px;
    border-top-color: $dark-gray;
  }
  .headerSortUp:after{
    bottom: 15px;
    border-bottom-color: $dark-gray;
  }
  .headerSortDown,
  .headerSortUp{
    padding-right: 10px;
  }

  .nodata {
    color: white;
    font-weight: bold;
    text-align: center;
    background: #c00;
    border: 2px solid #900;
    width: 100%;
  }

  .grid-container {
    width: 100%;
    overflow: auto;
  }

  table {
    width: 0px;
  }

  td {
    white-space: nowrap;
  }

  th {
    resize: horizontal;
    cursor: pointer;
  }
  
  th, td {
    min-width: 64px;
    width: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid $medium-gray;
  }

  table thead tr {
    background-color: $light-gray;
    border: 1px inset $medium-gray;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #eee;
  }
  
  table tbody tr:hover {
    background-color: $light-gray;
  }

  table tbody tr.selected {
    background-color: $medium-gray;
  }
  
  .pagination {
    width: 100%;
    
    button {
      display: inline-block;
    }
    
    input {
      display: inline-block;
      width: 4em;
    }
  }
  
  .status-search {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    
    label {
      margin-right: 1em;
    }
  }

  .field-filter {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    
    label {
      width: 6em;
      margin-right: 1em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  
  .field-search {
    width: 100%;
    position: relative;

    div {
      @include position(absolute, 0 0 0 null);
      
      button {
        height: 2em;
      }
    }
  }
}

.list-button {
  @include position(absolute, 0 0 0 null);
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-group {
  position: relative;
}

.form-control {
  select {
    width: 100%;
  }
  
  @media (min-width: $large-screen) {
    padding: 4px;
  }
}

@for $i from 1 through $grid-columns {
  .grid-#{$i} {
    width: 100%;
    
    @media (min-width: $large-screen) {
      width: 100% * $i / $grid-columns;
    }
  }
}

.detail-control {
  width: 100%;
}

body {
  background-attachment:fixed;
  background-position:center center;
  background-repeat:no-repeat;
  background-size: cover;
}

.page {
  background-color: #fff;
}

.user-menu {
  height: 64px;
  background-color: #ccc;
}

.logo-image {
  padding-left: 4px;
  padding-top: 6px;
}

.header {
  background-color: $light-gray;
}

.footer {
  text-align: center;
  background-color: #222;
  color: #ccc;
}

.content {
  min-height: 640px;
  padding: $base-padding;
}

@media (min-width: $medium-screen) {    
  .navbar {
    border-radius: 0;
  }
}

@media (min-width: $large-screen) {
  body {
    background-image: url(../images/background.jpg);
  }

  .page {
    outline: 5px solid #000;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
